<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCompanheiroPDF</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadCompanheiroPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMestrePDF</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadMestrePDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAprendizPDF</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadAprendizPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAprendizVideo</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadAprendizVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCompanheiroVideo</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadCompanheiroVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMestreVideo</servlet-name>
        <servlet-class>com.lavajato.lojadompedroprimeiro.Servlets.UploadMestreVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCompanheiroPDF</servlet-name>
        <url-pattern>/UploadCompanheiroPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMestrePDF</servlet-name>
        <url-pattern>/UploadMestrePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAprendizPDF</servlet-name>
        <url-pattern>/UploadAprendizPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAprendizVideo</servlet-name>
        <url-pattern>/UploadAprendizVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCompanheiroVideo</servlet-name>
        <url-pattern>/UploadCompanheiroVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMestreVideo</servlet-name>
        <url-pattern>/UploadMestreVideo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
